@model IEnumerable<AlexaRadioT.Models.RequestLogItem>
@{
    ViewData["Title"] = "RequestLog";
}
<table class="table" border="1">
    <thead>
        <tr>
            <th width="70px;">
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th width="70px;">
                @Html.DisplayNameFor(model => model.LoggedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoggedDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Response)
                </td>
            </tr>
        }
    </tbody>
</table>
